{% extends 'base.html.twig' %}

{% block title %}Mes Commandes{% endblock %}

{% block body %}
    <div class="card col-md-12">
        <div class="card-header">
            <a class="btn-back text-secondary" href="{{ path("app_boutique_index") }}">
                <i class="fas fa-2x fa-arrow-circle-left"></i>
            </a>
            <h3>
                <i class="fas fa-shopping-cart"></i>
                Mes Commandes
            </h3>
        </div>

        <div class="card-body">

            L'usager
            {{ prenom }} {{ nom }}
            a passé la commande n°
            <span class="badge badge-pill badge-secondary">{{ numCommande }}</span>
            le
            {{date | date("Y-m-d")}}
            <hr>
            <a class="btn btn-primary" href="{{ path("app_commande_index") }}">
                Mes commandes
            </a>

        </div>
    </div>
{% endblock %}
